# Terraform / OpenTofu
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Ansible
*.retry
*inventory.ini
*secrets.yml

# SSH Keys
id_rsa
id_rsa.pub

# General
.DS_Store
.env

# ollama
*ollama-data/
*webui-data/

# python venv
*/venv
